/**************************
RESET RULES
  ***************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/**************************
FLEX RULES
  ***************************/
.row {
  display: flex;
}
.main-header .row {
  align-items: center;
  justify-content: space-between;
}

.main-footer .row {
  align-items: flex-start;
  justify-content: space-between;
}

/**************************
HEADER RULES
  ***************************/
.header-bg {
  background-color: #fb6900;
  color: white;
  padding: 25px;
}
/**************************
MAIN RULES
  ***************************/
.main-bg {
  background-color: #ffffff;
  min-height: 100px;
}
/**************************
FOOTER RULES
  ***************************/
.footer-bg {
  background-color: #1a1a1a;
  color: white;
  padding: 25px;
}
/**************************
DEBUG RULES
  ***************************/
